body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 0;
    color: #291f1a;
}

span {
    color: #1ac056;
    font-weight: 500;
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    width: 100%;
}

#menu>ul {
    margin: 0;
    float: right;
}

#menu>ul>li {
    display: inline-block;
    list-style: none;
    padding: 20px 40px;
}

#menu .menu-item {
    display: inline-block;
    text-decoration: none;
}

#menu .menu-item a {
    color: #1ac056;
    text-decoration: none;
}

#main-header {
    text-align: center;
    background: url("../img/header-background.jpg");
    background-size: cover;
}

.main-header-content {
    padding: 30vh;
    color: white;
    padding-top: 60vh;
}

#name1 {
    font-size: 80px;
    font-weight: 300;
}

#zawod {
    font-weight: 200;
}

#about {
    display: inline-block;
    padding-top: 30px;
    background-color: #f9fcfe;

}

#about h2 {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#about > figure {
    text-align: center;
    width: 50%;
    float: left;
    margin: 0;
}

#about > figure > img  {
    height: 350px;
    border: solid 15px black;
    border-radius: 10%;
}

article {
    width: 50%;
    float: left;
}

p {
    margin: 0;
}


.skills-header {
    
    text-align: center;
}


.skills-icons {
   
    display: inline-block;  

}

.skills-content {
    
    text-align: center;
}

#skills-icons {
    
    text-align: center;
    padding-top: 20px;
    
}


