body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 0;
    color: #291f1a;
}

span {
    
    color: green;
    font-weight: 400;
    
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    width: 100%;
}

#menu > ul {
    margin: 0;
    float: right;
}

#menu > ul > li {
    display: inline-block;
    list-style: none;
    padding: 20px 40px;
}

#menu .menu-item {
    display: inline-block;
    text-decoration: none;
}

#menu .menu-item a {
    color: #1ac056;
    text-decoration: none;
}

#main-header {
    text-align: center;
    background: url("../img/header-background.jpg");
    background-size: cover;
}

.main-header-content {
    padding: 30vh;
    color: white;
    
}

.main-header-content h1 {
    color: white;
}

.main-header-content h2 {
    
    
}

#about {
    float: left;
    width: 100%;
}

img {
    float: left;
    height: 350px;
}

article {
    width: 50%;
}